<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>
<div class="flex justify-between items-center mb-4">
  <h1 class="font-bold text-3xl">Tickets</h1>
  <%= link_to 'New ticket', new_ticket_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>
<div class="flex flex-col">
  <div class="flex bg-gray-100 font-bold py-2">
    <div class="w-1/6 text-center text-blue-500">ID</div>
    <div class="w-1/6 text-center">Title</div>
    <div class="w-1/6 text-center">Description</div>
    <div class="w-1/6 text-center">Status</div>
    <div class="w-1/6 text-center">Priority</div>
    <div class="w-1/6 text-center text-blue-500">Created by</div>
  </div>

  <%= render TicketRowComponent.with_collection(@tickets) %>

</div>
